.navbar {
  background: #2563eb;
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.navbar #nav-links {
  margin-right: 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-weight: 600;
}

.navbar a.active {
  border-bottom: 2px solid white;
}

